<div class="span3 sidebar" id="subnav">
	<ul class="nav nav-list sidenav">
		<li class="active"><a href="#education"><i class="icon-chevron-right"></i>Introduction</a></li>
		<li><a href="#main-school"><i class="icon-chevron-right"></i>Main School</a></li>
		<li><a href="#main-school-lessons"><i class="icon-chevron-right"></i> - Lessons</a></li>
		<li><a href="#main-school-curriculum"><i class="icon-chevron-right"></i> - Curriculum</a></li>
		<li><a href="#kindergarten"><i class="icon-chevron-right"></i>Kindergarten</a></li>
		<li><a href="#parent-child"><i class="icon-chevron-right"></i>Parent and Child</a></li>
	</ul>
</div>

<div class="span9">
	<section id="education">
		<div class="page-header">
		 	<h2>What is a Steiner School?</h2>
		</div>     

		<%= Scms.renderView("_pages/education/introduction.html", page) %>

		<div padding-top="30px;">
		  <iframe class="iframe-defer" data-src="//player.vimeo.com/video/1535001" width="500" height="283" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>  
	</section>

	<section id="main-school">
		<div class="page-header">
			<h2>Main School</h2>
		</div>
		<%= Scms.renderView("_pages/education/mainschool.html", page) %>
	</section>

    <section id="main-school-lessons">
        <%= Scms.renderView("_pages/education/mainschool-lessons.html", page) %>
	</section>

	<section id="main-school-curriculum">
		<%= Scms.renderView("_pages/education/mainschool-curriculum.html", page) %>
	</section>

	<section id="kindergarten">
  		<div class="page-header">
  			<h2>Kindergarten</h2>
  		</div>
  		<%= Scms.renderView("_pages/education/kindergarten.html", page) %>
	</section>

	<section id="parent-child">
		<div class="page-header">
			<h2>Parent and Child Group</h2>
		</div>
		<%= Scms.renderView("_pages/education/parent-and-child.html", page) %>
	</section>
</div>