<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= page.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='~/fonts/sophia.css' rel="stylesheet" />
    <link href='<%= page.bundles["style"] %>' rel="stylesheet" />
    <link href='<%= page.bundles["layout"] %>' rel="stylesheet" />

    <script src='<%= page.bundles["jquery"] %>'></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src='<%= page.bundles["shiv"] %>'></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target="#subnav" data-offset="25">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Nant-y-Cwm School </a>
          <div class="nav-collapse collapse">
            <%= Scms.parsetemplate(File.read("_layouts/topnav.erb"), page) %>
          </div>
          <!-- <a class="brandimg" href="/"><img src="images/nant-y-cwm-icon128-v1.0.png" height="128" width="128"/></a> -->
        </div>
      </div>
    </div>

    <header class="jumbotron subhead" id="overview">
      <div class="container">
        <%= page.views["intro"] %>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <%= page.views["main"] %>
      </div>
    </div>

    <footer class="footer">
      <%= Scms.parsetemplate(File.read("_layouts/footer.erb"), page) %>
    </footer>

  </body>
</html>
