<%
require 'date'
begin
    events = resource["events"].sort_by { |start_time| }
    nextevent = events[0]
rescue
    nextevent = { :id => 0, :name => "No upcoming events",  :description => "Check back soon"}
end
%>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1406742256221468";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- Three columns of text below the carousel -->
<div class="row">

    <div class="span4"><a href="https://www.facebook.com/NantyCwm.School" target="_blank"><img class="img-circle" src="~/images/home/facebook-badge.png" /></a>
        <h2><a href="https://www.facebook.com/NantyCwm.School" target="_blank">Facebook</a></h2>
        <p>Follow us on facebook for our most recent photos, stories, interesting links, etc.</p>
        <div style="text-align: center; margin-bottom: 10px;" class="fb-like" data-href="http://www.nant-y-cwm.co.uk/" data-width="200" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        <p><a class="btn" href="https://www.facebook.com/NantyCwm.School" target="_blank">Open Page &raquo;</a></p>
    </div>
    <!-- /.span4 -->
    
    <div class="span4"><a href="https://www.facebook.com/events/<%=nextevent["id"] %>/" target="fb"><img class="img-circle" src="~/images/home/nant-y-cwm-badge.png" /></a>
      <h2><a href="https://www.facebook.com/events/<%=nextevent["id"] %>/" target="fb">Next Event</a></h2>
        <p><strong><%= ScmsUtils.txt_2_html(nextevent["name"]) %></strong> : <%= ScmsUtils.txt_2_html(nextevent["description"]) %></p>
        <p><%= Date.parse(nextevent["start_time"]).strftime("%d/%m/%Y") %></p>
        <p><a class="btn" href="~/community/#calendar">View calendar &raquo;</a></p>
    </div>
    <!-- /.span4 -->
    
    <div class="span4"><a class="sendmail" href="http://cprobert.wufoo.com/forms/nantycwm/"><img class="img-circle" src="~/images/home/email-badge.png" /></a>
        <h2><a class="sendmail" href="http://cprobert.wufoo.com/forms/nantycwm/">Contact Us</a></h2>
        <p>If you are interested in a Steiner education for your child, would like more information about anything that you have read, or you are interested in coming for a visit, we would love to hear from you!</p>
        <p><a class="btn sendmail" href="http://cprobert.wufoo.com/forms/nantycwm/">Contact Us &raquo;</a></p>
    </div>
</div>
<!-- /.row -->

<!-- Start THE FEATURETTES -->
<hr class="featurette-divider" />
<div class="featurette">
    <%= Scms.renderView("_pages/index/maintext.erb", page) %>
</div>

<hr class="featurette-divider" />
